<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="SERVICE_NAME" value="onboarding-service"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} level=%-5level service=${SERVICE_NAME} correlationId=%X{correlationId:-NA} logger=%logger{36} thread=%thread msg="%msg"%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
